body{
	padding-top: 55px;
}
.col-md-8{
	background-color: red;
	height:100vh;
}
.col-md-4{
	background-color: green;
	height: 100vh;
}
.vertical_center{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.navbar.navbar-default {
	margin: 0.05px;

}
.user_nav {
	border-radius: 50%;
}
.home-cover {
  height:100vh; 
  color:white;
  background: url('images/pexels-photo-59519.jpeg') no-repeat center center fixed;
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-cover {
  height:100vh; 
  color:white;
  background: url('images/girl-954377_1920.jpg') no-repeat center center fixed;
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-default{
	background-color:black;
	border: black solid;
	border-radius: 0;
}

.well{
	width: 25%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	border:solid rgba(0, 0, 0, 0.5);
}
.row{
	position:relative;
}
.navbar-center
{
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.awesomecomplete{
	color:black;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}